@import "iconfont.less";
input {
  border: none;
  width: 100%;
}
.container {
  padding: 10px;
}
.display-flex {
  display: flex;
  justify-content: center;
}
.line {
  line-height: 1rem;
  font-size: 1.5rem;
  padding: 10px 15px;
}

.line:first-child{
  flex:1;
}
.line span,.line input{
  flex:2;
}


.line input {
  width: 100%;
}
.empty{
  background:darkgrey;
  position:absolute;
  left:0;
  top:0;
  width:100vw;
  height:100vh;
  opacity: 0.5;
}
