@import "iconfont.less";
.container{
  width:100%;
  background-image: linear-gradient(to left, #b4e2ff 10%, #fff 60%); /* 标准的语法（必须放在最后） */
}
.head{
  width:100%;
  position: absolute;
  top:0;
  color:#f5f0f1;
  background:#8e8b8b;
  text-align:center;
  font-size: 1.5rem;
  line-height: 2.5rem;
}
.container ul{
  margin-top: 40px;
}

.line{
  display: flex;
  border-bottom:1px #d4d2d2 solid;
  font-size: 1.5rem;
  padding: 8px 28px;
}

.line [class^="icon-"], .add-logo {
  font-size: 1.75rem;
  padding: 7px 10px;
}

.user-content,.add-text{
  padding: 7px 10px;
}

.line input {
  border: none;
  background: none;
}
.add-logo{
  border:1px solid black;
  border-radius: 50%;
  padding: 0;
  margin:0 7px;
  width:2rem;
  height:2rem;
  line-height:2.25rem;
  text-align: center;
}
.line .info-id{
  font-size:1.15rem;
  line-height:2rem;
  color:grey;
}
.line .info-content{
  flex:1;
  font-size:1.25rem;
  line-height:2rem;
  text-align:right;
}

.empty{
  background:darkgrey;
  position:absolute;
  left:0;
  top:0;
  width:100vw;
  height:100vh;
  opacity: 0.5;
}


.bg{
  background-image: linear-gradient(to left, #b4e2ff 10%, #fff 60%); /* 标准的语法（必须放在最后） */
}

.info-logo{
  flex:0;
  color:#c3c3c3;
  width:1.5rem;
  font-size:1rem !important;
  line-height:2rem;
  margin-left:5px;
}
.footer{
  position:absolute;
  bottom:0;
  width:100%;
  text-align:center;
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: #f5f0f1;
  background: #0a84ec;
}
